title = "home"
url = "/"
layout = "default"
is_hidden = 0
==

<div class="container" style="margin-top: 40px">
	<h1 class="text-center"><a href="{{ 'blog'|page }}">Blogs</a></h1>
	<h1 class="text-center"><a href="{{ 'movies'|page }}">Movies</a></h1>
</div>