title = "movies_info"
url = "/movies_info/:id"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Kadirov\Movies\Models\Movies"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}


<p class="text-center" style="margin: 30px;">
		{% if record %}
		<h2>Name movie</h2>
		    <b>{{ record.name }}</b>
		<h2>Year movie</h2>
			<span>{{ record.year }}</span>
		<h2>Description</h2>
		    <span>{{ record.description|raw }}</span>
		{% else %}
		    {{ notFoundMessage }}
		{% endif %}
</p>